<ion-view view-title="checkbox">
  <ion-content ng-keydown="KeydownFn($event)">
  <style>
  /*当checkbox数量少于一页时，无法从headerbar上的logo向下导航.增加一个label input或select可修正此bug*/
  label.spolefill{padding:0.5px;}
    label.spolefill:after{
      border:none;
    }
    label.spolefill select:focus{
      outline: none;
      display: none;
    }
  </style>
  <label class="item item-select spolefill">
      <span class="select-label"></span>
      <select tabindex="2">
      <option></option>
    </select>
    </label>
  <div class="list">
  <div class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" name='checkall' tabindex='3' ng-model='allChecked' ng-click="checkAll(allChecked,checkboxList)">
       <div class="item-content">
    </div>
     </label>
    全选
  </div>
   <div class="item item-checkbox" ng-repeat="item in checkboxList">
     <label class="checkbox">
       <input type="checkbox" name='checkbox' tabindex="{{4+$index}}" data-index='{{$index}}' ng-model="item.checked" ng-checked="item.checked">
       <div class="item-content">
    </div>
     </label>
     {{ item.text }}
  </div>
  </div>
  </ion-content>
</ion-view>
