<ion-tabs class="tabs-icon-top tabs-color-active-positive">
 <div ng-keydown="KeydownFn($event)">
  <ion-tab title="dash" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/dash" tabindex="1">
    <ion-nav-view name="dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="form" icon-off="ion-document" icon-on="ion-document-text" href="#/form" tabindex="2">
    <ion-nav-view name="form"></ion-nav-view>
  </ion-tab>
    <ion-tab title="list" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list" tabindex="3">
    <ion-nav-view name="list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="checkbox" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/checkbox" tabindex="4">
    <ion-nav-view name="checkbox"></ion-nav-view>
  </ion-tab>
  <ion-tab title="radio" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled" href="#/tab/radio" tabindex="5">
    <ion-nav-view name="radio"></ion-nav-view>
  </ion-tab>
  </div>
</ion-tabs>
